a {
color: yellow
}

a:link {
    text-decoration: none;
  }

  a:hover {
    color: hotpink;
  }

body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/56f45f69b6aa60e521bfd399/b7b038be-bed7-4e60-a05e-915c60887e01/QmX2WE2HaHqSMX72nrdz8hkiB3MmKuaEkGLGnrqZBZSetk.gif?format=750w");
    background-color: #cccccc;
    background-size: cover;
}

#headshot img {
    border: 10px solid rgb(159, 159, 159);
    display: block;
  max-width:50%;
  max-height:50%;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  }

p {
    margin: auto;
    width: 50%;
    border: 1px solid red;
    padding: 9px;
    background-color: rgba(0, 67, 2, 0.713);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #cccccc;
    position: relative;
}

.x {
  
}

 #studio {
    display: block;
    max-width:51.5%;
    max-height:51.5%;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 790px;
    height: 250px;
    border: 1px solid red;
}

.x #keyboard {
    transform: rotate(90deg);
    position: fixed;
    bottom: 0;
    left: -50px;
    width: 300px;
    height: 200px;
    border: 3px solid #73AD21;
    
}

.x #keyboard2 {
    transform: rotate(-90deg);
    position: fixed;
    bottom: 0;
    right: -50px;
    width: 300px;
    height: 200px;
    border: 3px solid #73AD21;
    
}

.x #matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    border: 3px solid #73AD21;
}

.x #matrix2 {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 300px;
    filter:  hue-rotate(260deg);
    border: 3px solid #675fff;
}