body {
    background-image: url(https://images.squarespace-cdn.com/content/v1/6187b7ac6e78f3137dc9e8d4/4bc59b81-acb1-4203-b677-96ec04401d83/casebearer_dave_greber_nft_1.jpg);
    background-color: #cccccc;
    background-size: cover;
}

img {
    border: 10px solid rgb(159, 159, 159);
    display: block;
  max-width:50%;
  max-height:50%;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  }

p {
    margin: auto;
    width: 50%;
    border: 1px solid red;
    padding: 9px;
    background-color: rgba(0, 67, 2, 0.713);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #cccccc;
}